<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main  page</title>
</head>
<body>
    <h1><marquee>WORD COUNTER APPLICATION:</marquee></h1> <br> 
    <h2>Convert the text here to following buttons:</h2>

    <form action="" method="post">
        {% csrf_token %}

        <div>
            <label for="">Enter the text here:</label> <br>
            <textarea name="text" id="" cols="100" rows="7"></textarea>
        </div>
        <input type="submit" value="calculate words"> <br>
    </form>
        
    {% if word_count %}

    <h4>results:</h4>
    <strong>word count:</strong> {{word_count}}
    
    {% endif %}

        <hr>
        <h4>Other Action given below:</h4>
        <a href="chars"><button>calculate characters</button></a>
        <a href="/consonants"><button>calculate consonants</button></a>
        <a href="/vowels"><button>calculate vowels</button></a>
        <a href="/upper"><button>calculate uppercase</button></a>
        <a href="/lower"><button>calculate lowercase</button></a>
       
    
    
</body>
</html>